body{
    background-image: url(image_1.png);
}
.hero .pages {
    margin: 10.2px 0 11.8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
  }
  .hero .rectangle-4 {
    border-radius: 8px;
    border: 1px solid #09e7f7;
    position: absolute;
    right: 83.1px;
    bottom: 50.7px;
    width: 134.4px;
    height: 52.4px;
    text-align: center;
  }
  /*.hero .rectangle-7 {
    border-radius: 8px;
    background-color: #87a8aa;
    position: absolute;
    right: 256.5px;
    bottom: 50.7px;
    width: 134.4px;
    height: 52.4px;
    text-align: center;
  }
  .login{
    color: black;
    border: 5px solid black;
  }*/
  .hero .login {
    margin: 12.6px 0 9.4px 0;
    display: inline-block;
    padding: 0;
    margin: auto;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: 5px solid rgb(109, 168, 219);
  }
  .hero .sign-up {
    margin: 13.6px 0px 8.4px 0;
    display: inline-block;
    padding: 0;
    margin: auto;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #204E51;
    
  }
  .hero .the-role-of-technology-in-revolutionizing-agriculture {
    position: absolute;
    left: 50%;
    bottom: 334.6px;
    translate: -50% 0;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 90px;
    line-height: 1.04;
    color: #FFFFFF;
  }
  .hero .group-1 {
    border-radius: 8px;
    background: #204E51;
    position: absolute;
    left: 506.5px;
    bottom: 181.3px;
    display: flex;
    padding: 13.3px 0 17.2px 0px;
    width: 171.4px;
    box-sizing: border-box;
  }
  .hero .get-started {
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
  }
  .hero .group-2 {
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 509.6px;
    bottom: 180px;
    display: flex;
    padding: 14.4px 0 16.1px 0;
    width: 171.4px;
    box-sizing: border-box;
  }
  .hero .learn-more {
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
  }
  .hero .li-europan-lingues-es-membres-del-sam-familie-lor-separat-existentie-es-un-myth-por-scientie-musica-sport-etc-litot-europa-usa-li-sam-vocabular {
    position: absolute;
    left: 50%;
    bottom: 302.9px;
    translate: -50% 0;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
  }
  .hero {
    display: flex;
    padding: 155px 1px 0 0;
    width: 1402.4px;
    box-sizing: border-box;
  }
  .hero .image-1 {
    background: url('../assets/images/image_1.png') 50% / cover no-repeat;
    position: relative;
    width: 1402.4px;
    height: 891.7px;
  }
  .hero .image-2 {
    background: rgba(30, 30, 30, 0.6);
    position: absolute;
    left: 0px;
    right: 1px;
    bottom: 0px;
    height: 891.7px;
  }
  .hero .agrivista-farms {
    margin-right: 34px;
    left: 90%;
    width: 216.2px;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    color: #1E1E1E;
  }
  .hero .home {
    margin: 0 23px 0.7px 0;
    display: inline-block;
    width: 56.5px;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
  }
  .hero .about-us {
    margin-top: 0.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
  }
  .hero .container {
    margin: 8.5px 0 12.8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170.6px;
    height: fit-content;
    box-sizing: border-box;
  }
  .hero .container-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1190.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .hero .container-2 {
    background: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    padding: 59.5px 129.7px 36.3px 83.1px;
    width: 1403.3px;
    box-sizing: border-box;
  }